<div class="card shadow-sm">
  <form>
    <div class="p-3">

      <div class="form-row">
        <div class="form-group col-md-12 mt-sm-3">
          <label>Tema</label>
          <input type="text" class="form-control mt-1" placeholder="Insira o Tema">
        </div>
      </div>

      <div class="form-row d-md-flex gap-2">
        <div class="form-group col-md-8 mt-sm-3">
          <label>Local</label>
          <input type="text" class="form-control mt-1" placeholder="">
        </div>
        <div class="form-group col mt-sm-3">
          <label>Data e Hora</label>
          <input type="datetime" class="form-control mt-1" placeholder="">
        </div>
      </div>

      <div class="form-row d-md-flex gap-2">
        <div class="form-group col-md-2 mt-sm-3">
          <label>Qtd Pessoas</label>
          <input type="text" class="form-control mt-1 " placeholder="">
        </div>
        <div class="form-group col-md-4 mt-sm-3">
          <label>Telefone</label>
          <input type="text" class="form-control mt-1" placeholder="(000) 90000-0000">
        </div>
        <div class="form-group col mt-sm-3">
          <label>Email</label>
          <input type="text" class="form-control mt-1" placeholder="E-mail">
        </div>
      </div>
    </div>

    <div class="card-footer p-2">
      <div class="d-flex">
        <button class="btn btn-outline-secondary border" style="margin-right: auto;">
          Cancelar Alteração
        </button>
        <button class="btn btn-success">
          <!-- <span class="spinner-border spinner-border-sm" style="margin-right: 15px;"></s pan> -->
          Salvar Evento
        </button>
      </div>
    </div>

  </form>
</div>
