<h2>Eventos do Component</h2>
<hr>
<div class="form-inline">
    <div class="d-flex align-items-center mb-2 gap-2">
        <label class="mr-2">Filtrar:</label>
        <input 
            type="text"
            class="form-control"
            placeholder="Pesquisar"
            [(ngModel)]="filtroLista"
            style="width: 250px; margin-right: 10px;">
    </div>
</div>

<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th>
                <button class="btn btn-outline-light btn-sm" (click)="alterarImagem()">
                    <i class="{{ exibirImagem ? 'fa fa-eye-slash' : 'fa fa-eye' }}"></i>
                    {{ exibirImagem ? 'Ocultar' : 'Exibir'}}
                </button>
            </th>
            <th>#</th>
            <th>Tema</th>
            <th>Local</th>
            <th>Data</th>
            <th>Qnt Pessoas</th>
            <th>Lote</th>
            <th>Opções</th>
        </tr>
    </thead>

    <tbody *ngIf="eventos && eventos.length">
        <tr *ngFor="let item of eventosFiltrados">
            <td>
                <img [collapse]="!exibirImagem" 
                     [isAnimated]="true" 
                    src="/assets/{{ item.imagemURL }}" 
                    style="width: 150px; height: auto;"
                >
            </td>
            <td>{{ item.id }}</td>
            <td>{{ item.tema }}</td>
            <td>{{ item.local }}</td>
            <td>{{ item.dataEvento | DateTimeFormat }}</td>
            <td>{{ item.qtdPessoas }}</td>
            <td>{{ item.lotes[0].nome | uppercase }}</td>
            <td>
                <button class="btn btn-primary btn-sm" style="margin-right: 10px;">
                    <i class="fa fa-edit"></i>
                </button>
                <button class="btn btn-danger btn-sm" (click)="openModal(template)">
                    <i class="fa fa-trash"></i>
                </button>
            </td>
        </tr>
    </tbody>
    
    <tfoot *ngIf="!eventos.length">
        <tr>
            <td colspan="8" class="text-center">
                <h4>Nenhum evento encontrado</h4>
            </td>
        </tr>
    </tfoot>
</table>

<ng-template #template>
    <div class="modal-body text-center">
      <p>Tem certeza que quer deletar este Evento?</p>
      <button type="button" class="btn btn-danger" (click)="confirm()" >Sim</button>
      <button type="button" class="btn btn-default" (click)="decline()" >Não</button>
    </div>
</ng-template>

<!-- {{ eventos | json }} -->